<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Redigera {{account.name}}</h2>

			<form action="/account/update/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				<input type="hidden" name="id" id="id" value="{{account.id}}" />

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control" name="name" id="name" value="{{account.name}}" placeholder="" />

				</div>

				{% if views %}

					<div class="form-group">

						<select name="view_id" id="view_id" class="form-control">

							{% for view_id,view in views%}

								<option value="{{view_id}}"

								{% if account.ga_view_id == view_id %}
									selected="selected"
								{% endif %}

								>{{view.property_id}} | {{view.name}} ({{view_id}}, {{view.property_name}})</option>

							{% endfor %}

						</select>

					</div>

				{% endif %}

				<div class="form-group">

					<div id="color-picker" class="input-group colorpicker-component col-xs-12 col-sm-6">
						<input type="text" value="rgb({{account.colour}})" id="colour" name="colour" class="form-control" />
						<span class="input-group-addon"><i></i></span>
					</div>

				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary" value="Uppdatera" />

				</div>

			</form>

		</div>

	</div>

</div>