{% if not current_user.admin %}
	<script>window.location.href = "/"</script>
{% endif %}

<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Redigera film</h2>

			<form action="/track/update/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				<input type="hidden" id="id" name="id" value="{{track.id}}" />

				<div class="row">

					<div class="col-xs-12">

						<div class="hr-divider m-t-md m-b-md">
							<h3 class="hr-divider-content hr-divider-heading">
								Filminställningar
							</h3>
						</div>

					</div>

				</div>

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control req" name="name" id="name" value="{{track.name}}" placeholder="Min film" />

				</div>

				<!--
				<div class="form-group">

					<label for="project_key">Projekt-ID</label>
					<input type="text" class="form-control req" name="project_key" id="project_key" value="{{track.project_key}}" placeholder="Ex: 12345" />

				</div>

				<div class="form-group">

					<label for="track_key">Track-ID</label>
					<input type="text" class="form-control req" name="track_key" id="track_key" value="{{track.track_key}}" placeholder="Ex: 123456" />

				</div>
				-->
				
				<div class="form-group">

					<label for="video_url">Länk till video</label>
					<input type="text" class="form-control" name="video_url" id="video_url" value="{{track.video_url}}" placeholder="Ex: https://www.vimeo.com/12345" />

				</div>

				<!--
				<div class="row">

					<div class="col-xs-12">

						<div class="hr-divider m-t-md m-b-md">
							<h3 class="hr-divider-content hr-divider-heading">
								Alternativ
							</h3>
						</div>

					</div>

				</div>

				<div class="checkbox custom-control custom-checkbox">
					<label><input type="checkbox" id="specific_respondents" name="specific_respondents" value="1" {% if track.has_specific_respondents %}checked="checked"{% endif %} />
						<span class="custom-control-indicator"></span>
						Möjlighet att välja ut vilka som kan göra testet
					</label>
				</div>
				-->

				<div class="row">

					<div class="col-xs-12">

						<div class="hr-divider m-t-md m-b-md">
							<h3 class="hr-divider-content hr-divider-heading">
								Datuminställningar
							</h3>
						</div>

					</div>

				</div>

				<div class="form-group">

					<div class="row">

						<div class="col-xs-12 col-sm-6">

							<label for="start_date">Hämta data från och med</label>
							<input type="text" class="form-control" name="start_date" id="start_date" placeholder="Ex: 2016-04-16" {% if track.start_date == 0 %}disabled="disabled"{% endif %} value="{% if track.start_date != 0 %}{{track.start_date|date('Y-m-d')}}{% endif %}" />

							<div class="checkbox custom-control custom-checkbox">
								<label><input type="checkbox" id="no_start_date" name="no_start_date" value="1" {% if track.start_date == 0 %}checked="checked"{% endif %} data-type="toggle-input" data-target="start_date" />
									<span class="custom-control-indicator"></span>
									Sen starten
								</label>
							</div>

						</div>

						<div class="col-xs-12 col-sm-6">

							<label for="end_date">Hämta data till och med</label>
							<input type="text" class="form-control" name="end_date" id="end_date" placeholder="Ex: 2016-07-08" {% if track.end_date == 0 %}disabled="disabled"{% endif %} value="{% if track.end_date != 0 %}{{track.end_date|date('Y-m-d')}}{% endif %}" />

							<div class="checkbox custom-control custom-checkbox">
								<label><input type="checkbox" id="no_end_date" name="no_end_date" value="1" {% if track.end_date == 0 %}checked="checked"{% endif %} data-type="toggle-input" data-target="end_date" />
									<span class="custom-control-indicator"></span>
									Uppdatera löpande
								</label>
							</div>

						</div>

					</div>

				</div>

				<div class="row hidden" id="req_info">
				
					<div class="col-xs-12">
						
						<strong><small>Fält markerade med * är obligatoriska<br /><br /></small></strong>
						
					</div>
					
				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary" value="Uppdatera" />

				</div>

			</form>

		</div>

	</div>

</div>