<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<h2>Nytt projekt{% if client %} i {{client.name}}{% endif %}</h2>

			<form action="/project/save/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				{% if client %}
					<input type="hidden" name="client_id" id="client_id" value="{{client.id}}" />
				{% endif %}

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control req" name="name" id="name" placeholder="Ex: Mitt projekt" />

				</div>

				{% if clients %}

					<div class="form-group m-b-md">

						<label for="client_id">Kund</label>

						<select name="client_id" id="client_id" class="form-control">

							<option value="0">Välj kund</option>
							{% for client in clients %}
								<option value="{{client.id}}">{{client.name}}</option>
							{% endfor %}

						</select>

					</div>

				{% endif %}

				<div class="row m-b-md">

					<div class="col-xs-12 col-sm-8 col-md-6">

						<label for="name">Datumspann för kampanj (lämna slutdatum tom för löpande kampanj)</label>
						<div class="input-group input-daterange">
							<input type="text" name="start_date" class="form-control" value="{{"now"|date("Y-m-d")}}">
							<span class="input-group-addon">to</span>
							<input type="text" name="end_date" class="form-control" value="">
						</div>

					</div>

				</div>

				<div class="form-group">

					{% if ga_accounts %}

						{% for ga_account in ga_accounts %}

							{% for profile_id, profile_name in ga_account.profiles %}

								<div class="checkbox">
									<label>
										<input type="checkbox" name="ga_accounts[]" value="{{profile_id}}">
										{{ga_account.name}} / {{profile_name}} ({{ga_account.id}})
									</label>
								</div>

							{% endfor %}							

						{% endfor %}

					{% else %}

						Inga Google Analytics-konton kopplade. Då blir det inte mycket kul här inte.					

					{% endif %}

				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary p-x" value="Spara" />

				</div>

			</form>

		</div>

	</div>

</div>