<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<div class="dashhead">
				
				<div class="dashhead-titles">
					<h6 class="dashhead-subtitle"><a href="/client/show/?id={{project.client.id}}">{{project.client.name}}</a></h6>
					<h3 class="dashhead-title">{{project.name}}</h3>
				</div>

			</div>

			<form action="/project/update/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				<input type="hidden" name="id" id="id" value="{{project.id}}" />

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control" name="name" id="name" value="{{project.name}}" placeholder="Ex: Mitt projekt" />

				</div>

				{% if clients %}

					<div class="form-group m-b-md">

						<select name="client_id" id="client_id" class="form-control">

							<option value="0">Välj kund</option>
							{% for client in clients %}
								<option value="{{client.id}}" {% if client.id == project.client.id %} selected="selected"{% endif %}>{{client.name}}</option>
							{% endfor %}

						</select>

					</div>

				{% endif %}

				<div class="row m-b-md">

					<div class="col-xs-12">

						<div class="hr-divider m-b">
							<h3 class="hr-divider-content hr-divider-heading">
								Kampanjdatum
							</h3>
						</div>

					</div>

					<div class="col-xs-12 col-sm-8 col-md-6">

						<label for="name">Datumspann för kampanj (lämna slutdatum tom för löpande kampanj)</label>
						<div class="input-group input-daterange">
							<input type="text" name="start_date" class="form-control" value="{{project.start_date|date("Y-m-d")}}">
							<span class="input-group-addon">till</span>
							<input type="text" name="end_date" class="form-control" value="{% if project.end_date %}{{project.end_date|date("Y-m-d")}}{% endif %}">
						</div>

					</div>

				</div>

				<script type="text/javascript">

					$('.input-daterange input').each(function() {
						$(this).datepicker({
    						format: "yyyy-mm-dd",
						    weekStart: 1,
						    language: "sv",
						    todayBtn: "linked",
						    todayHighlight: true
						});
					});

				</script>

				<div class="form-group m-b-md">

					<div class="hr-divider m-b">
						<h3 class="hr-divider-content hr-divider-heading">
							Rapportperiod
						</h3>
					</div>

					<div class="row">

						<div class="col-xs-12 col-sm-6">

							<select name="report_from" id="report_from" class="form-control">

								<option value="1"{% if project.report_from == 1 %} selected="selected"{% endif %}>Måndag</option>
								<option value="2"{% if project.report_from == 2 %} selected="selected"{% endif %}>Tisdag</option>
								<option value="3"{% if project.report_from == 3 %} selected="selected"{% endif %}>Onsdag</option>
								<option value="4"{% if project.report_from == 4 %} selected="selected"{% endif %}>Torsdag</option>
								<option value="5"{% if project.report_from == 5 %} selected="selected"{% endif %}>Fredag</option>
								<option value="6"{% if project.report_from == 6 %} selected="selected"{% endif %}>Lördag</option>
								<option value="0"{% if project.report_from == 0 %} selected="selected"{% endif %}>Söndag</option>

							</select>

						</div>

						<div class="col-xs-12 col-sm-6">

							<select name="report_to" id="report_to" class="form-control">

								<option value="1"{% if project.report_to == 1 %} selected="selected"{% endif %}>Måndag</option>
								<option value="2"{% if project.report_to == 2 %} selected="selected"{% endif %}>Tisdag</option>
								<option value="3"{% if project.report_to == 3 %} selected="selected"{% endif %}>Onsdag</option>
								<option value="4"{% if project.report_to == 4 %} selected="selected"{% endif %}>Torsdag</option>
								<option value="5"{% if project.report_to == 5 %} selected="selected"{% endif %}>Fredag</option>
								<option value="6"{% if project.report_to == 6 %} selected="selected"{% endif %}>Lördag</option>
								<option value="0"{% if project.report_to == 0 %} selected="selected"{% endif %}>Söndag</option>

							</select>

						</div>

					</div>

				</div>

				<div class="form-group">

					{% if accounts %}

						<div class="hr-divider m-b">
							<h3 class="hr-divider-content hr-divider-heading">
								Konton
							</h3>
						</div>

						{% for account in accounts %}

								<div class="checkbox">
									<label>
										<input type="checkbox" name="project_has_accounts[]" value="{{account.id}}" 

										{% if account.id in project_has_accounts %}
											checked="checked"
										{% endif %}
										>
										{{account.name}}
									</label>
								</div>

						{% endfor %}

					{% else %}

						Inga Google Analytics-konton kopplade. Då blir det inte mycket kul här inte.					

					{% endif %}

				</div>

				<div class="form-group">

					{% if dimensions %}

						<div class="hr-divider m-b">
							<h3 class="hr-divider-content hr-divider-heading">
								Konton
							</h3>
						</div>

						{% for dimension in dimensions %}

								<div class="checkbox">
									<label>
										<input type="checkbox" name="project_has_dimensions[]" value="{{dimension.id}}" 

										{% if dimension.id in project_has_dimensions %}
											checked="checked"
										{% endif %}
										>
										{{dimension.name}}
									</label>
								</div>

						{% endfor %}					

					{% endif %}

				</div>

				<div class="form-group">

					<label for="conversion_rate">Önskad konverteringratio</label>
					<input type="number" class="form-control" name="conversion_rate" id="conversion_rate" value="{{project.conversion_rate}}" min="0" max="100" placeholder="" />

				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary" value="Uppdatera" />

				</div>

			</form>

		</div>

	</div>

</div>