<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<div class="dashhead">
				
				<div class="dashhead-titles">
					{% if client %}<h6 class="dashhead-subtitle"><a href="/client/show/?id={{project.client.id}}">{{client.name}}</a></h6>{% endif %}
					<h3 class="dashhead-title">Nytt projekt</h3>
				</div>

			</div>

			<form action="/project/save/" class="form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				{% if client %}
					<input type="hidden" name="client_id" id="client_id" value="{{client.id}}" />
				{% endif %}

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control req" name="name" id="name" placeholder="Ex: Mitt projekt" />

				</div>

				{% if clients and not client %}

					<div class="form-group m-b-md">

						<label for="client_id">Kund</label>

						<select name="client_id" id="client_id" class="form-control">

							<option value="0">Välj kund</option>
							{% for client in clients %}
								<option value="{{client.id}}">{{client.name}}</option>
							{% endfor %}

						</select>

					</div>

				{% endif %}

				<div class="row m-b-md">

					<div class="col-xs-12 col-sm-8 col-md-6">

						<label for="name">Datumspann för kampanj (lämna slutdatum tom för löpande kampanj)</label>
						<div class="input-group input-daterange">
							<input type="text" name="start_date" class="form-control" value="{{"now"|date("Y-m-d")}}">
							<span class="input-group-addon">till</span>
							<input type="text" name="end_date" class="form-control" value="">
						</div>

					</div>

				</div>

				<div class="form-group m-b-md">

					<div class="hr-divider m-b">
						<h3 class="hr-divider-content hr-divider-heading">
							Rapportperiod
						</h3>
					</div>

					<div class="row">

						<div class="col-xs-12 col-sm-6">

							<select name="report_from" id="report_from" class="form-control">

								<option value="1">Måndag</option>
								<option value="2">Tisdag</option>
								<option value="3">Onsdag</option>
								<option value="4">Torsdag</option>
								<option value="5">Fredag</option>
								<option value="6">Lördag</option>
								<option value="0">Söndag</option>

							</select>

						</div>

						<div class="col-xs-12 col-sm-6">

							<select name="report_to" id="report_to" class="form-control">

								<option value="1">Måndag</option>
								<option value="2">Tisdag</option>
								<option value="3">Onsdag</option>
								<option value="4">Torsdag</option>
								<option value="5">Fredag</option>
								<option value="6">Lördag</option>
								<option value="0">Söndag</option>

							</select>

						</div>

					</div>

				</div>

				<div class="form-group">

					{% if accounts %}

						<div class="hr-divider m-b">
							<h3 class="hr-divider-content hr-divider-heading">
								Konton
							</h3>
						</div>

						{% for account in accounts %}

								<div class="checkbox">
									<label>
										<input type="checkbox" name="project_has_accounts[]" value="{{account.id}}" />
										{{account.name}}
									</label>
								</div>

						{% endfor %}

					{% else %}

						Inga Google Analytics-konton kopplade. Då blir det inte mycket kul här inte.					

					{% endif %}

				</div>

				<div class="form-group">

					<label for="conversion_rate">Önskad konverteringratio</label>
					<input type="number" class="form-control" name="conversion_rate" id="conversion_rate" value="{{project.conversion_rate}}" min="0" max="100" placeholder="" />

				</div>

				<div class="form-group">

					<input type="submit" class="btn btn-primary p-x" value="Spara" />

				</div>

			</form>

		</div>

	</div>

</div>