<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<div class="dashhead">
				
				<div class="dashhead-titles">
					<h6 class="dashhead-subtitle"><a href="/client/show/?id={{project.client.id}}">{{project.client.name}}</a></h6>
					<h3 class="dashhead-title">{{project.name}}</h3>
				</div>

			</div>

		</div>

	</div>

	<div class="row m-t m-b-lg">

		<div class="col-xs-12 col-sm-4 col-sm-push-8 col-md-6 col-md-push-6 text-right">

				<a class="btn btn-primary-outline p-x" type="button" data-toggle="collapse" data-target="#date-settings" aria-expanded="false" aria-controls="date-settings">Visa datuminställningar</a>

			{% if current_user.admin %}

				<a class="btn btn-primary-outline p-x" type="button" href="/project/edit/?id={{project.id}}">Redigera</a>

			{% endif %}

		</div>

		<div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-6 col-md-pull-6">

			<div class="collapse" id="date-settings">

				<form id="daterangepicker" class="form-inline" method="get" action="?id={{project.id}}">
					<input type="hidden" id="project_id" name="id" value="{{project.id}}" />
					<input type="hidden" id="date_from" name="from" value="{{from|date("Y-m-d")}}" />
					<input type="hidden" id="date_to" name="to" value="{{to|date("Y-m-d")}}" />
					<input type="hidden" id="compare_from" name="compare_from" value="" />
					<input type="hidden" id="compare_to" name="compare_to" value="" />

				</form>

				<div class="hr-divider m-b">
					<h3 class="hr-divider-content hr-divider-heading">
						Primära datum
					</h3>
				</div>
			
				<div class="input-group">
					<span class="input-group-addon">
						<span class="icon icon-calendar"></span>
					</span>
					<input id="daterange" type="text" class="form-control" name="daterange" value="" />
				</div>

				<div class="hr-divider m-t-md m-b">
					<h3 class="hr-divider-content hr-divider-heading">
						Jämförelsedatum
					</h3>
				</div>

				<div class="input-group m-b">
					<span class="input-group-addon">
						<span class="icon icon-calendar"></span>
					</span>
					<input id="compare" type="text" class="form-control" name="compare" value="{% if comparison %}{{compare_from|date('Y-m-d')}} – {{compare_to|date('Y-m-d')}}{% endif %}" />
				</div>

				<a class="btn btn-primary-outline p-x" type="button" href="#" id="submit_dates">Ändra</a>

				<a class="btn btn-primary-outline p-x" type="button" href="/project/show/?id={{project.id}}">Återställ</a>

			</div>

		</div>

	</div>

<script type="text/javascript">

var startDate 	= '{{from|date("Y-m-d")}}';
var endDate 	= '{{to|date("Y-m-d")}}';
var minDate 	= '{{project.start_date|date("Y-m-d")}}';
var maxDate 	= '{{project.end_date|date("Y-m-d")}}';

$(document).ready(function() {

	$('#submit_dates').on('click', function(e) {
		e.preventDefault();
		$('#daterangepicker').submit();
		$('.pace-bg').addClass('active');
	});

	$('#daterange').daterangepicker({
	  'locale': {
	    'format': 'YYYY-MM-DD',
	    'separator': ' – ',
	    'applyLabel': 'Välj',
	    'cancelLabel': 'Ångra',
	    'fromLabel': 'Från',
	    'toLabel': 'Till',
	    'customRangeLabel': 'Anpassad',
	    'weekLabel': 'v.',
	    'daysOfWeek': [
	      'Sö',
	      'Må',
	      'Ti',
	      'On',
	      'To',
	      'Fr',
	      'Lö'
	    ],
	    'monthNames': [
	      'Januari',
	      'Februari',
	      'Mars',
	      'April',
	      'Maj',
	      'Juni',
	      'Juli',
	      'Augusti',
	      'September',
	      'Oktober',
	      'November',
	      'December'
	    ],
	    'firstDay': 1
	  },
	  showWeekNumbers: true,
	  applyClass: 'btn btn-primary p-x',
	  cancelClass: 'btn btn-primary-outline p-x',
	  startDate: startDate,
	  endDate: endDate,
	  minDate: minDate,
	  maxDate: maxDate
	});

	$('#compare').daterangepicker({
	  'locale': {
	    'format': 'YYYY-MM-DD',
	    'separator': ' – ',
	    'applyLabel': 'Välj',
	    'cancelLabel': 'Rensa',
	    'fromLabel': 'Från',
	    'toLabel': 'Till',
	    'customRangeLabel': 'Anpassad',
	    'weekLabel': 'v.',
	    'daysOfWeek': [
	      'Sö',
	      'Må',
	      'Ti',
	      'On',
	      'To',
	      'Fr',
	      'Lö'
	    ],
	    'monthNames': [
	      'Januari',
	      'Februari',
	      'Mars',
	      'April',
	      'Maj',
	      'Juni',
	      'Juli',
	      'Augusti',
	      'September',
	      'Oktober',
	      'November',
	      'December'
	    ],
	    'firstDay': 1
	  },
	  autoUpdateInput: false,
	  showWeekNumbers: true,
	  applyClass: 'btn btn-primary p-x',
	  cancelClass: 'btn btn-primary-outline p-x',
	  minDate: minDate,
	  maxDate: maxDate
	});

	$('#date-settings').on('hide.bs.collapse', function () {
	  $('[data-target="#date-settings"]').text('Visa datuminställningar');
	});

	$('#date-settings').on('show.bs.collapse', function () {
	  $('[data-target="#date-settings"]').text('Dölj datuminställningar');
	});

	$('#daterange').on('apply.daterangepicker', function(ev, picker) {
		$('#date_from').val(picker.startDate.format('YYYY-MM-DD'));
		$('#date_to').val(picker.endDate.format('YYYY-MM-DD'));
	});

	$('#compare').on('apply.daterangepicker', function(ev, picker) {
		$('#compare').val(picker.startDate.format('YYYY-MM-DD')+' – '+picker.endDate.format('YYYY-MM-DD'));
		$('#compare_from').val(picker.startDate.format('YYYY-MM-DD'));
		$('#compare_to').val(picker.endDate.format('YYYY-MM-DD'));
	});

});

</script>

	<div class="row m-b-lg">

		<div class="col-xs-12 m-b-md">

			<div class="hr-divider">

				<ul class="graph-tabs nav nav-pills hr-divider-content hr-divider-nav" role="tablist">	

					<li role="presentation" class="active">
						<a href="#total-summary" aria-controls="total-summary" role="tab" data-toggle="tab">Sammanfattning</a>
					</li>

					{% if accounts|length > 1 %}
				
						{% for key, account in accounts %}

							<li role="presentation">
								<a href="#total-summary-{{key}}" aria-controls="total-summary-{{key}}" role="tab" data-toggle="tab">{{account.name}}</a>
							</li>

						{% endfor %}

					{% endif %}

				</ul>

			</div>

		</div>

		<div class="tab-content">

			<div role="tabpanel" class="col-xs-12 tab-pane fade in active" id="total-summary">

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="statcard p-a-md">
						<h3 class="statcard-number">
							{{summary.date.users}}
							{# <small class="delta-indicator delta-positive">5%</small> #}
						</h3>
						<span class="statcard-desc">Besökare under perioden</span>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					{% set actual_conversion_rate = ((summary.date.goalCompletionsAll / summary.date.users)*100)|round %}

					{% if actual_conversion_rate >= project.conversion_rate %}

						{% set success = true %}

					{% else %}

						{% set success = false %}

					{% endif %}

					<div class="statcard p-a-md">
						<h3 class="statcard-number">
							{{summary.date.goalCompletionsAll}}
							{% if success %}
								<small class="delta-indicator delta-positive">{{actual_conversion_rate}}%</small>
							{% else %}
								<small class="delta-indicator delta-negative">{{actual_conversion_rate}}%</small>
							{% endif %}
						</h3>
						<span class="statcard-desc">Konverteringar ({{project.conversion_rate}}% är målsiffran)</span>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					{% set desired_conversion_rate = ((project.conversion_rate * summary.date.users)/100)|round %}

					<div class="statcard p-a-md">
						<h3 class="statcard-number">
							{{desired_conversion_rate}}
						</h3>
						<span class="statcard-desc">Önskat antal konverteringar ({{project.conversion_rate}}%)</span>
					</div>

				</div>

			</div>

			{% if accounts|length > 1 %}

				{% for key, account in accounts %}

					{% set account_users = 0 %}
					{% for day in account.data %}
						{% set account_users = account_users + day.date.users %}
					{% endfor %}

					{% set account_leads = 0 %}
					{% for day in account.data %}
						{% set account_leads = account_leads + day.date.goalCompletionsAll %}
					{% endfor %}

					<div role="tabpanel" class="col-xs-12 tab-pane fade" id="total-summary-{{key}}">

						<div class="col-xs-12 col-sm-6 col-md-4">

							<div class="statcard p-a-md">
								<h3 class="statcard-number">
									{{account_users}}
									{# <small class="delta-indicator delta-positive">5%</small> #}
								</h3>
								<span class="statcard-desc">Besökare under perioden</span>
							</div>

						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">

							{% set actual_conversion_rate = ((account_leads / account_users)*100)|round %}

							{% if actual_conversion_rate >= project.conversion_rate %}

								{% set success = true %}

							{% else %}

								{% set success = false %}

							{% endif %}

							<div class="statcard p-a-md">
								<h3 class="statcard-number">
									{{account_leads}}
									{% if success %}
										<small class="delta-indicator delta-positive">{{actual_conversion_rate}}%</small>
									{% else %}
										<small class="delta-indicator delta-negative">{{actual_conversion_rate}}%</small>
									{% endif %}
								</h3>
								<span class="statcard-desc">Konverteringar ({{project.conversion_rate}}% är målsiffran)</span>
							</div>

						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">

							{% set desired_conversion_rate = ((project.conversion_rate * account_users)/100)|round %}

							<div class="statcard p-a-md">
								<h3 class="statcard-number">
									{{desired_conversion_rate}}
								</h3>
								<span class="statcard-desc">Önskat antal konverteringar ({{project.conversion_rate}}%)</span>
							</div>

						</div>

					</div>

				{% endfor %}

			{% endif %}

		</div>

	</div>

	<div class="row m-b-lg">

		{% if accounts %}

			<div class="col-xs-12 m-b-md">

				<div class="hr-divider">

					<ul class="graph-tabs nav nav-pills hr-divider-content hr-divider-nav" role="tablist">

						{% if accounts|length > 1 %}
							<li {% if accounts|length > 1 %}class="active"{% endif %}role="presentation">
								<a href="#leads-total" aria-controls="leads-total" role="tab" data-toggle="tab">Leads/totalt</a>
							</li>
							<li role="presentation">
								<a href="#users-total" aria-controls="users-total" role="tab" data-toggle="tab">Besök/totalt</a>
							</li>
						{% endif %}
						<li role="presentation" {% if accounts|length == 1 %}class="active"{% endif %}>
							<a href="#leads" aria-controls="leads" role="tab" data-toggle="tab">Leads{% if accounts|length > 1 %}/bolag{% endif %}</a>
						</li>
						<li role="presentation">
							<a href="#users" aria-controls="users" role="tab" data-toggle="tab">Besök{% if accounts|length > 1 %}/bolag{% endif %}</a>
						</li>

					</ul>

				</div>

			</div>

			<div class="tab-content">

				{% if accounts|length > 1 %}

					<div role="tabpanel" class="col-xs-12 tab-pane fade {% if accounts|length > 1 %}in active{% endif %}" id="leads-total">

						<canvas id="leads-total-chart"></canvas>

						<script type="text/javascript">

							var leads_total_chart = document.getElementById("leads-total-chart");
							var leads_total_data = {
							    labels: [
							    	{% for key, date in dates %}
										'{{date|date("Y-m-d")}} {% if comparison_dates %} ({{comparison_dates[key]|date("Y-m-d")}}){% endif %}',
									{% endfor %}
							    ],
							    datasets: [
							        {
								        label: "Totalt på {{accounts|length}} bolag",
								        fill: false,
								        lineTension: 0.1,
								        backgroundColor: "rgba(255,182,0,0.4)",
								        borderColor: "rgba(255,182,0,1)",
								        borderCapStyle: 'butt',
								        borderDash: [],
								        borderDashOffset: 0.0,
								        borderJoinStyle: 'miter',
								        pointBorderColor: "rgba(255,182,0,1)",
								        pointBackgroundColor: "#fff",
								        pointBorderWidth: 1,
								        pointHoverRadius: 5,
								        pointHoverBackgroundColor: "rgba(255,182,0,1)",
								        pointHoverBorderColor: "rgba(220,220,220,1)",
								        pointHoverBorderWidth: 2,
								        pointRadius: 1,
								        pointHitRadius: 10,
								        data: [
								        	{% for day in total %}
												{{day.date.goalCompletionsAll}},
											{% endfor %}
								        ],
								        spanGaps: false
							        }
							        {% if comparison_total %}

							        	,{
									        label: "Jämförelse",
									        fill: false,
									        lineTension: 0.1,
									        backgroundColor: "rgba(255,182,0,0.2)",
									        borderColor: "rgba(255,182,0,0.2)",
									        borderCapStyle: 'butt',
									        borderDash: [],
									        borderDashOffset: 0.0,
									        borderJoinStyle: 'miter',
									        pointBorderColor: "rgba(255,182,0,0.2)",
									        pointBackgroundColor: "#fff",
									        pointBorderWidth: 1,
									        pointHoverRadius: 5,
									        pointHoverBackgroundColor: "rgba(255,182,0,2)",
									        pointHoverBorderColor: "rgba(220,220,220,0.2)",
									        pointHoverBorderWidth: 2,
									        pointRadius: 1,
									        pointHitRadius: 10,
									        data: [
									        	{% for day in comparison_total %}
													{{day.date.goalCompletionsAll}},
												{% endfor %}
									        ],
									        spanGaps: false
								    	}

							        {% endif %}
							    ]
							};
							var leads_total_options = [];
							var myLineChart = new Chart(leads_total_chart, {
							    type: 'line',
							    data: leads_total_data,
							    options: leads_total_options
							});

						</script>

					</div>

					<div role="tabpanel" class="col-xs-12 tab-pane fade" id="users-total">

						<canvas id="users-total-chart"></canvas>

						<script type="text/javascript">

							var users_total_chart = document.getElementById("users-total-chart");
							var users_total_data = {
							    labels: [
							    	{% for key, date in dates %}
										'{{date|date("Y-m-d")}} {% if comparison_dates %} ({{comparison_dates[key]|date("Y-m-d")}}){% endif %}',
									{% endfor %}
							    ],
							    datasets: [
							        {
								        label: "Totalt på {{accounts|length}} bolag",
								        fill: false,
								        lineTension: 0.1,
								        backgroundColor: "rgba(28,168,221,1)",
								        borderColor: "rgba(28,168,221,1)",
								        borderCapStyle: 'butt',
								        borderDash: [],
								        borderDashOffset: 0.0,
								        borderJoinStyle: 'miter',
								        pointBorderColor: "rgba(28,168,221,1)",
								        pointBackgroundColor: "#fff",
								        pointBorderWidth: 1,
								        pointHoverRadius: 5,
								        pointHoverBackgroundColor: "rgba(28,168,221,1)",
								        pointHoverBorderColor: "rgba(28,168,221,1)",
								        pointHoverBorderWidth: 2,
								        pointRadius: 1,
								        pointHitRadius: 10,
								        data: [
								        	{% for day in total %}
												{{day.date.users}},
											{% endfor %}
								        ],
								        spanGaps: false,
							        }
							        {% if comparison_total %}

							        	,{
									        label: "Jämförelse",
									        fill: false,
									        lineTension: 0.1,
									        backgroundColor: "rgba(28,168,221,.2)",
									        borderColor: "rgba(28,168,221,.2)",
									        borderCapStyle: 'butt',
									        borderDash: [],
									        borderDashOffset: 0.0,
									        borderJoinStyle: 'miter',
									        pointBorderColor: "rgba(28,168,221,.2)",
									        pointBackgroundColor: "#fff",
									        pointBorderWidth: 1,
									        pointHoverRadius: 5,
									        pointHoverBackgroundColor: "rgba(28,168,221,.2)",
									        pointHoverBorderColor: "rgba(28,168,221,.2)",
									        pointHoverBorderWidth: 2,
									        pointRadius: 1,
									        pointHitRadius: 10,
									        data: [
									        	{% for day in comparison_total %}
													{{day.date.users}},
												{% endfor %}
									        ],
									        spanGaps: false
								    	}

							        {% endif %}
							    ]
							};
							var users_total_options = [];
							var myLineChart = new Chart(users_total_chart, {
							    type: 'line',
							    data: users_total_data,
							    options: users_total_options
							});

						</script>

					</div>

				{% endif %}

				<div role="tabpanel" class="col-xs-12 tab-pane fade {% if accounts|length == 1 %}in active{% endif %}" id="leads">

					<canvas id="leads-chart"></canvas>

					<script type="text/javascript">

						var leads_chart = document.getElementById("leads-chart");
						var leads_data = {
						    labels: [
						    	{% for key, date in dates %}
									'{{date|date("Y-m-d")}} {% if comparison_dates %} ({{comparison_dates[key]|date("Y-m-d")}}){% endif %}',
								{% endfor %}
						    ],
						    datasets: [
						        {% for key, account in accounts %}
						        	{
							            label: "{{account.name}}",
							            fill: false,
							            lineTension: 0.1,
							            backgroundColor: "rgba({{account.colour}},1)",
							            borderColor: "rgba({{account.colour}},1)",
							            borderCapStyle: 'butt',
							            borderDash: [],
							            borderDashOffset: 0.0,
							            borderJoinStyle: 'miter',
							            pointBorderColor: "rgba({{account.colour}},1)",
							            pointBackgroundColor: "#fff",
							            pointBorderWidth: 1,
							            pointHoverRadius: 5,
							            pointHoverBackgroundColor: "rgba({{account.colour}},1)",
							            pointHoverBorderColor: "rgba(220,220,220,1)",
							            pointHoverBorderWidth: 2,
							            pointRadius: 1,
							            pointHitRadius: 10,
							            data: [
							            	{% for day in account.data %}
												{{day.date.goalCompletionsAll}},
											{% endfor %}
							            ],
							            spanGaps: false,
						        	},
						        	{% if comparison[key] %}
						        		{
								            label: "Jämförelse",
								            fill: false,
								            lineTension: 0.1,
								            backgroundColor: "rgba({{comparison[key].colour}},.2)",
								            borderColor: "rgba({{comparison[key].colour}},.2)",
								            borderCapStyle: 'butt',
								            borderDash: [],
								            borderDashOffset: 0.0,
								            borderJoinStyle: 'miter',
								            pointBorderColor: "rgba({{comparison[key].colour}},.2)",
								            pointBackgroundColor: "#fff",
								            pointBorderWidth: 1,
								            pointHoverRadius: 5,
								            pointHoverBackgroundColor: "rgba({{comparison[key].colour}},.2)",
								            pointHoverBorderColor: "rgba(220,220,220,.2)",
								            pointHoverBorderWidth: 2,
								            pointRadius: 1,
								            pointHitRadius: 10,
								            data: [
								            	{% for day in comparison[key].data %}
													{{day.date.goalCompletionsAll}},
												{% endfor %}
								            ],
								            spanGaps: false,
							        	},
						        	{% endif %}
						        {% endfor %}
						    ]
						};
						var leads_options = [];
						var myLineChart = new Chart(leads_chart, {
						    type: 'line',
						    data: leads_data,
						    options: leads_options
						});

					</script>

				</div>

				<div role="tabpanel" class="col-xs-12 tab-pane fade" id="users">

					<canvas id="users-chart"></canvas>

					<script type="text/javascript">

						var users_chart = document.getElementById("users-chart");
						var users_data = {
						    labels: [
						    	{% for key, date in dates %}
									'{{date|date("Y-m-d")}} {% if comparison_dates %} ({{comparison_dates[key]|date("Y-m-d")}}){% endif %}',
								{% endfor %}
						    ],
						    datasets: [
						        {% for key, account in accounts %}
						        	{
							            label: "{{account.name}}",
							            fill: false,
							            lineTension: 0.1,
							            backgroundColor: "rgba({{account.colour}},0.4)",
							            borderColor: "rgba({{account.colour}},1)",
							            borderCapStyle: 'butt',
							            borderDash: [],
							            borderDashOffset: 0.0,
							            borderJoinStyle: 'miter',
							            pointBorderColor: "rgba({{account.colour}},1)",
							            pointBackgroundColor: "#fff",
							            pointBorderWidth: 1,
							            pointHoverRadius: 5,
							            pointHoverBackgroundColor: "rgba({{account.colour}},1)",
							            pointHoverBorderColor: "rgba(220,220,220,1)",
							            pointHoverBorderWidth: 2,
							            pointRadius: 1,
							            pointHitRadius: 10,
							            data: [
							            	{% for day in account.data %}
												{{day.date.users}},
											{% endfor %}
							            ],
							            spanGaps: false,
						        	},
						        	{% if comparison[key] %}
						        		{
								            label: "Jämförelse",
								            fill: false,
								            lineTension: 0.1,
								            backgroundColor: "rgba({{comparison[key].colour}},.2)",
								            borderColor: "rgba({{comparison[key].colour}},.2)",
								            borderCapStyle: 'butt',
								            borderDash: [],
								            borderDashOffset: 0.0,
								            borderJoinStyle: 'miter',
								            pointBorderColor: "rgba({{comparison[key].colour}},.2)",
								            pointBackgroundColor: "#fff",
								            pointBorderWidth: 1,
								            pointHoverRadius: 5,
								            pointHoverBackgroundColor: "rgba({{comparison[key].colour}},.2)",
								            pointHoverBorderColor: "rgba(220,220,220,.2)",
								            pointHoverBorderWidth: 2,
								            pointRadius: 1,
								            pointHitRadius: 10,
								            data: [
								            	{% for day in comparison[key].data %}
													{{day.date.users}},
												{% endfor %}
								            ],
								            spanGaps: false,
							        	},
						        	{% endif %}
						        {% endfor %}
						    ]
						};
						var users_options = [];
						var myLineChart = new Chart(users_chart, {
						    type: 'line',
						    data: users_data,
						    options: users_options
						});

					</script>

				</div>

			</div>

		{% endif %}

	</div>

	<div class="row m-b-lg">

		{% if accounts > 1 %}

			<div class="col-xs-12 m-b-md">

				<div class="hr-divider">

					<ul class="graph-tabs nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
					
						{% for key, account in accounts %}

							<li role="presentation" {% if key == 0 %}class="active"{% endif %}>
								<a href="#daily-summary-{{key}}" aria-controls="daily-summary-{{key}}" role="tab" data-toggle="tab">{{account.name}}</a>
							</li>

						{% endfor %}

					</ul>

				</div>

			</div>

			<div class="tab-content">

				{% for key, account in accounts %}

					<div role="tabpanel" class="col-xs-12 tab-pane fade{% if key == 0 %} in active{% endif %}" id="daily-summary-{{key}}">

						<canvas id="daily-chart-{{key}}"></canvas>

						<script type="text/javascript">

							var account_daily_summary_{{key}} = document.getElementById("daily-chart-{{key}}");
							var account_daily_data_{{key}} = {
							    labels: [
							    	{% for key, date in dates %}
										'{{date|date("Y-m-d")}} {% if comparison_dates %} ({{comparison_dates[key]|date("Y-m-d")}}){% endif %}',
									{% endfor %}
							    ],
							    datasets: [
							    	{
								        label: "Leads",
								        fill: false,
								        lineTension: 0.1,
								        backgroundColor: "rgba(255,182,0,1)",
								        borderColor: "rgba(255,182,0,1)",
								        borderCapStyle: 'butt',
								        borderDash: [],
								        borderDashOffset: 0.0,
								        borderJoinStyle: 'miter',
								        pointBorderColor: "rgba(255,182,0,1)",
								        pointBackgroundColor: "#fff",
								        pointBorderWidth: 1,
								        pointHoverRadius: 5,
								        pointHoverBackgroundColor: "rgba(255,182,0,1)",
								        pointHoverBorderColor: "rgba(255,182,0,1)",
								        pointHoverBorderWidth: 2,
								        pointRadius: 1,
								        pointHitRadius: 10,
								        data: [
								        	{% for day in account.data %}
												{{day.date.goalCompletionsAll}},
											{% endfor %}
								        ],
								        spanGaps: false,
							        },
							        {% if comparison[key] %}
						        		{
								            label: "Jämförelse leads",
								            fill: false,
								            lineTension: 0.1,
								            backgroundColor: "rgba(255,182,0,.3)",
								            borderColor: "rgba(255,182,0,.3)",
								            borderCapStyle: 'butt',
								            borderDash: [],
								            borderDashOffset: 0.0,
								            borderJoinStyle: 'miter',
								            pointBorderColor: "rgba(255,182,0,.3)",
								            pointBackgroundColor: "#fff",
								            pointBorderWidth: 1,
								            pointHoverRadius: 5,
								            pointHoverBackgroundColor: "rgba(255,182,0,.3)",
								            pointHoverBorderColor: "rgba(255,182,0,.3)",
								            pointHoverBorderWidth: 2,
								            pointRadius: 1,
								            pointHitRadius: 10,
								            data: [
								            	{% for day in comparison[key].data %}
													{{day.date.goalCompletionsAll}},
												{% endfor %}
								            ],
								            spanGaps: false,
							        	},
							        {% endif %}
							        {
								        label: "Besökare",
								        fill: false,
								        lineTension: 0.1,
								        backgroundColor: "rgba(28,168,221,.4)",
								        borderColor: "rgba(28,168,221,.4)",
								        borderCapStyle: 'butt',
								        borderDash: [],
								        borderDashOffset: 0.0,
								        borderJoinStyle: 'miter',
								        pointBorderColor: "rgba(28,168,221,.4)",
								        pointBackgroundColor: "#fff",
								        pointBorderWidth: 1,
								        pointHoverRadius: 5,
								        pointHoverBackgroundColor: "rgba(28,168,221,.4)",
								        pointHoverBorderColor: "rgba(28,168,221,.4)",
								        pointHoverBorderWidth: 2,
								        pointRadius: 1,
								        pointHitRadius: 10,
								        data: [
								        	{% for day in account.data %}
												{{day.date.users}},
											{% endfor %}
								        ],
								        spanGaps: false,
							        },
							        {% if comparison[key] %}
						        		{
								            label: "Jämförelse besökare",
								            fill: false,
								            lineTension: 0.1,
								            backgroundColor: "rgba(28,168,221,.2)",
								            borderColor: "rgba(28,168,221,.2)",
								            borderCapStyle: 'butt',
								            borderDash: [],
								            borderDashOffset: 0.0,
								            borderJoinStyle: 'miter',
								            pointBorderColor: "rgba(28,168,221,.2)",
								            pointBackgroundColor: "#fff",
								            pointBorderWidth: 1,
								            pointHoverRadius: 5,
								            pointHoverBackgroundColor: "rgba(28,168,221,.2)",
								            pointHoverBorderColor: "rgba(28,168,221,.2)",
								            pointHoverBorderWidth: 2,
								            pointRadius: 1,
								            pointHitRadius: 10,
								            data: [
								            	{% for day in comparison[key].data %}
													{{day.date.users}},
												{% endfor %}
								            ],
								            spanGaps: false,
							        	},
						        	{% endif %}
							    ]
							};
							var account_daily_options_{{key}} = [];
							var account_daily_chart_{{key}} = new Chart(account_daily_summary_{{key}}, {
							    type: 'line',
							    data: account_daily_data_{{key}},
							    options: account_daily_options_{{key}}
							});

						</script>

					</div>

				{% endfor %}

			</div>

		{% endif %}

	</div>

</div>