<div class="container">

	<div class="row">

		<div class="col-xs-12">

			<div class="dashhead">
				
				<div class="dashhead-titles">
					<h6 class="dashhead-subtitle">Redigera</h6>
					<h3 class="dashhead-title">Användare</h3>
				</div>

			</div>

			<form action="/user/update/" class="form form" method="post">

				<input type="hidden" name="redirect_url" id="redirect_url" value="{{http_referer}}" />

				<input type="hidden" name="id" id="id" value="{{user.id}}" />

				<div class="form-group">

					<label for="name">Namn</label>
					<input type="text" class="form-control req" name="name" id="name" value="{{user.name}}" placeholder="Ex: Elias Knudtzon" />

				</div>

				<div class="form-group">

					<label for="company">Företag</label>
					<input type="text" class="form-control req" name="company" id="company" value="{{user.company}}" placeholder="Ex: Digiplay" />

				</div>

				<div class="form-group">

					<label for="email">E-post</label>
					<input type="email" class="form-control req" name="email" id="email" value="{{user.email}}" placeholder="Ex: elias@digiplay.se" />

				</div>

				<div class="form-group">

					<label for="password">Lösenord</label>
					<input type="password" class="form-control" name="password" id="password" />

					<label for="password_repeat">Ange lösenord igen</label>
					<input type="password" class="form-control" name="password_repeat" id="password_repeat" />

				</div>

				<div class="form-group">

					{% if clients %}

						<div class="hr-divider m-b">
							<h3 class="hr-divider-content hr-divider-heading">
								Konton
							</h3>
						</div>

						{% for client in clients %}

								<div class="checkbox custom-control custom-checkbox">
									<label>
										<input type="checkbox" name="user_has_access[]" value="{{client.id}}" 

										{% if client.id in user.user_has_access %}
											checked="checked"
										{% endif %}
										>
										<span class="custom-control-indicator"></span>
										{{client.name}}
									</label>
								</div>

						{% endfor %}					

					{% endif %}

				</div>

				{% if current_user.admin %}

					<div class="hr-divider m-b">
						<h3 class="hr-divider-content hr-divider-heading">
							Rättigheter
						</h3>
					</div>

					{% if current_user.id == user.id %}

					<div class="checkbox custom-control custom-checkbox">

						<label>
							<input type="checkbox" {% if user.admin %} checked="checked"{% endif %}disabled="disabled" />
							<span class="custom-control-indicator"></span>
							Administratör
						</label>

					</div>

					<input type="hidden" name="admin" id="admin" value="{{current_user.admin}}" />

					{% else %}

					<div class="checkbox custom-control custom-checkbox">

						<label for="admin">
							<input type="checkbox" name="admin" id="admin" value="1" {% if user.admin %} checked="checked"{% endif %} />
							<span class="custom-control-indicator"></span>
							Administratör
						</label>

					</div>

					{% endif %}

				{% endif %}

				<div class="form-group">

					<input type="submit" class="btn btn-primary m-t m-b-md" value="Uppdatera" />

				</div>

			</form>

		</div>

	</div>

</div>